* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsl(200, 15%, 8%);
}

p {
    font-size: 16px;
}

body {
    background-color: hsl(0, 0%, 98%);
}

header {
    box-shadow: 0 0 4px 0 black;
    padding: 10px 0;
    margin-bottom: 40px;
}

header>div {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

header button {
    background-color: inherit;
    border: none;
    font-weight: 500;
    font-size: 18px;
}

.back {
    margin: 0 5%;
    padding: 4px 25px;
    background-color: inherit;
    border: none;
    box-shadow: 0 0 5px hsl(0, 0%, 52%);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

main {
    margin: 50px auto 80px;
    width: 90%;
    display: flex;
    column-gap: 8%;
    align-items: center;
}

main .flag {
    width: 50%;
    height: 380px;
}

main>div:nth-child(2) {
    width: 50%;
}

.flag img {
    width: 100%;
    height: 100%;
}

main h1 {
    margin-bottom: 30px;
}

main .details {
    display: flex;
    justify-content: space-between;
}

.details p {
    margin-bottom: 20px;
    font-weight: 600;
}

.details p span {
    font-weight: 400;
}

main .border-countries {
    margin: 32px 0 0;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.border-countries div {
    display: flex;
    column-gap: 24px;
    row-gap: 16px;
    flex-wrap: wrap;
}

.border-countries button {
    padding: 5px 20px;
    background-color: inherit;
    border: none;
    box-shadow: 0 0 5px hsl(0, 0%, 52%);
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    main {
        column-gap: 5%;
    }
    main .flag {
        width: 50%;
    }

    main>div:nth-child(2) {
        width: 50%;
    }
}

@media (max-width: 850px) {
    header>div {
        width: 85%;
        margin: 0 auto;
    }
    .back {
        margin: 40px 7.5% 20px;
    }
    main {
        flex-direction: column;
        row-gap: 80px;
        margin: 40px auto 0;
        width: 85%;
    }
    main .flag {
        width: 100%;
        height: auto;
    }

    main>div:nth-child(2) {
        width: 100%;
    }
}

@media (max-width: 540px) {
    main {
        row-gap: 60px;
    }
    main .details {
        flex-direction: column;
        row-gap: 40px;
    }
    main .border-countries {
        row-gap: 24px;
        flex-direction: column;
    }
    .border-countries div {
        column-gap: 32px;
    }
}